.app-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clear-list {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 0.8rem;
  cursor: pointer;
}
